doctype
html
	head
		meta(charset="utf-8")
		title hw1
		link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		script(src="/jquery/dist/jquery.min.js")
		script(src="/bootstrap/dist/js/bootstrap.min.js")
	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/hw/1' style='margin-right: 27px') Design Thinking Homework of Group 32
				ul.nav.navbar-nav
					li.active
						a(href='/hw/01') HW1
					li.dropdown
						a.dropdown-toggle(href='#' data-toggle="dropdown") HW2
							b.caret
						ul.dropdown-menu
							li
								a(href='/hw/2/norm') NORM
							li.divider
							li
								a(href='/hw/2/mindmap') MINDMAP
					li.dropdown
						a.dropdown-toggle(href='#' data-toggle="dropdown") HW3
							b.caret
						ul.dropdown-menu
							li
								a(href='/hw/3/assumptionarea') ASSUMPTION AREA
							li.divider
							li
								a(href='/hw/3/plan') FIELD RESEARCH PLAN
							li.divider
							li
								a(href='/hw/3/scriptdeep') SCRIPT FOR INTERVIEW
							li.divider
							li
								a(href='/hw/3/scriptwide') SCRIPT FOR DATA SEARCHING
					li
						a(href='/hw/3/presentation1') PRESENTATION1
					li
						a(href='/hw/3/midPresentation') MIDPRESENTATION
					li.dropdown
						a.dropdown-toggle(href='#' data-toggle="dropdown") HW4
							b.caret
						ul.dropdown-menu
							li
								a(href='/hw/4') HMW QUESTION
							li.divider
							li
								a(href='/hw/4/userPersona') USER PERSONA
							li.divider
							li
								a(href='/hw/4/requirementInsight') REQUIREMENT AND INSIGHT
					li
						a(href='/hw/5') HW5
		h1(style='text-align:center; margin-top: 60px') 我们如何帮助老年人生活得更幸福
		.container
			.panel.panel-default
				.panel-heading
					h3.panel-title 王若禹
				.panel-body
					p 我对于幸福的自我定义:
					|幸福是指在精神和物质层面均满足自己的预期
					br
					|精神层面：与后代关系，对于子女的生活的满意度，自己的精神文化生活，精神寄托，信仰等等
					br
					|物质层面：衣，食，住，行，资产，遗产，身体状况
					hr
					p 为什么这个问题与我有关：
					|Why this topic matters to me :
					p 首先，中国的老龄化日趋严重，老人在逐渐增多，对于这些曾经对于社会进步做出过卓越贡献的人，使他们感到幸福是对于他们的付出的一种回报；其次，每个人的家中总是会有一些老人，让家人幸福，也是一个人重要的责任；最后，每个人总有老去的那一天，尽早的考虑这个问题，可以使自己能够更加从容的面对自己老去的生活。（一个比较单纯的出发点：我想让我的爷爷奶奶姥姥能够幸福）
					p Firstly, The aging of China is becoming more and more serious, The old man on the increase for these once for social progress have made outstanding contributions, so that they feel happy for a return to their efforts; secondly, each person's home there will always be some old people, let the family happiness, but also one of the important responsibility; finally, everyone have the days old, as soon as possible to consider this problem, can make themselves more calm in the face of his old life. (a relatively simple starting point: I want my grandparents to be happy)
					hr
					p 这个大命题中的那个部分引起了我的好奇：
					|Part of this big topic intrigues me:
					br
					|-老年人的精神是否得到了充实？
					br
					|Has the spirit of the elderly been enriched?
					br
					|    老年人往往已经退休，精神会因为突然的无事可做而变得无依无靠，这时如何使他们找到精神支撑，丰富精神世界就成了使他们幸福的一个重要方面。
					br
					|The elderly are often already retired, because the spirit will have nothing to do and then suddenly become helpless, how to make them find spiritual support, enrich the spiritual world so that they became an important aspect of happiness.
					br
					|- 老年人是否得到了他们应有的关心和尊重？
					br
					|    Have the elderly received their due care and respect?
					br
					|    现在存在大量的歧视老年人的现象，当老年人得到尊重时，会使得他们产生幸福。
					br
					|There is a great deal of discrimination against older people, and when older people are respected, they make them happy.
					br
					|- 如何促进社会理解包容老年人？
					br
					|How to promote social understanding and tolerate the elderly?
					br
					|    有许多人认为老人喜欢倚老卖老，但是老人其实也有其苦衷，调查了解这些问题，影响社会，产生一种包容的态度，可以使老年人感觉幸福。
					br
					|Many people think that old people love yilaomailao, but the old man actually also has its difficulties, investigate these problems affect the society, have a tolerant attitude, can make the elderly feel happy.
					br
					|- 老年人对于自身疾病的认知状况？
					br
					|    What is the cognitive status of the elderly in their own diseases?
					br
					|    老年人常常忽视自己的健康状况，当身体出现异样时一般会选择无视而造成病情延误，病情老年人的身体本就易出现问题，所以应该引导老人重视自身健康，当身体无病痛时，便是幸福。
					br
					|Old people often neglect their own health, when the body appears strange will generally choose to ignore the disease caused by the delay condition, the elderly body is easy to appear the problem, so we should guide the elderly pay attention to their own health, when the body no pain, is happiness.
					br
					|- 老年人被骗现象为何频频发生？
					br
					|    Why is the phenomenon of elderly cheated happen again and again?
					br
					|    现在有许许多多的诈骗犯罪是针对老年人的，老年人在缺少相应方面知识的情况下，尤其容易被保险、理财、中奖、保健等方面的虚假宣传欺骗，对于这一方面的关注可以减少老人被骗的几率，使老年人的晚年生活更加幸福。
					br
					|Now there are many fraud crime is for the elderly, the elderly in the lack of knowledge of the case, especially in the insurance, finance, lottery, health care and other aspects of the false propaganda to deceive, for this concern can reduce the risk of elderly people cheated, so that elderly people in later life more happiness.
					br
					|- 为何存在老年人借用自身特殊性实施欺诈的行为？
					br
					|    Why do the elderly use their own particularities to commit fraud?
					br
					|近期常常出现老年人碰瓷、讹诈等不好的现象，引起社会对于老年人这个群体有一种敬畏感，想帮却不敢帮，探究这种问题的根源，使人们愿意在老人困难的时候帮助他们，会使他们感到幸福。
					br
					|Recently often elderly, pengci blackmail and other bad phenomenon, cause the society has a sense of awe for the elderly to help this group, but did not dare to help, probing into the root of the problem, make people willing to help them when the elderly difficult, will make them happy.
					br
					|- 青年人该如何学会正确的与老年人相处？
					br
					|How do young people learn to get along with old people properly?
					br
					|青年人常常会以工作学习繁忙而减少与老人的相处时间，并且在与老年人在一起的时候会缺少话题，使两方都感到尴尬，如何学会与老人有效的交流，能够大大增加老年人的幸福感。
					br
					|Young people often learning to work with the elderly and less busy time, and in time together with older people in the lack of topic, the two party will feel embarrassed, learn how to communicate effectively with the elderly, the elderly can greatly increase people's happiness.
			.panel.panel-default
				.panel-heading
					h3.panel-title 金佳纯
				.panel-body
					p 为什么这个问题与我有关：
					|Why this topic matters to me :
					p 首先，家里有老人，因此这个问题与我爱的人有紧密的联系。其次，终有一天我也会变老，
					|这个问题最终也会成为我自己的问题，实际上我只是提前几十年解决我自己的问题。
					br
					|Firstly,there are a few elder people in my family,so this topic is just about my loved ones.Secondly,there is one day that I will also be an elder people,so the issue will finally become my own issue,and in fact I am just dealing with my own matter several decades earlier.
					hr
					p 这个大命题中的那个部分引起了我的好奇：
					|Part of this big topic intrigues me:
					br
					|说实话，看到这个问题的第一眼我是有些失望的。虽然这是一个非常重要的话题，这个社会
					|也始终关注着这个问题，但是最终给出的方案大多千篇一律，对于project来说，这是一个
					|重要但是容易变得平庸的topic。正因为如此，把这个课题做出深度，做出创意，跳出平常新闻里、
					|报纸上那些正确但难以操作的呼吁，成为了我最大的驱动力。
					|我后来又仔细想了一下，为什么老年人的幸福会是我们需要去解决的问题？相较于他们年轻的时候，为什么
					|到了一定的年龄段，他们的幸福程度会下降到需要整个社会去关注的地步？一方面是由于身体机能的下降，
					|导致了种种活动上的限制于不便，另一方面，是心态上的转变，当他们意识到自己已步入晚年之后，会下意识地将自己的
					|行为束缚在社会对老年人行为的普遍认知中，他们会减少出远门甚至外出的次数，会不断担忧自己的身体状况。
					|心态上的老去也会导致对于未来生活的悲观，构成了大部分的不幸福因素。因此我认为解决老人不幸福很大的一点，是让
					|老年人保持心理上的年轻。这也是最吸引我一点的。
					br
					|To be honest, I feel quite disappoint at the first sight at the question. Although it is a very essential topic for us and the public put great focus on that. However, solutions to this issue are all in the same key. It can be an important but mediocrity issue for a project. Considering that, we choose to make the project profound and creative, not like the common news.
					|The proper but unrealistic method on newspaper is turned into my largest motivation.
					|I think twice later, what is the reason that the elder citizens’ happiness will become the problem we need to solve? Compared to their younger age, why the decline of their happiness should arouse social attention? In one aspect, the drop of somatic function of the elder restrict them from acting freely. On the other hand, the change of mindset will make them constraint themselves in ‘old man’ unconsciously when realizing they are old. So, they will barely travel far or even get out and be worry about their physical situation constantly. The mentally aging will cause the negative attitude toward future, and which attribute to most of the unhappiness. Therefore, I think an essential point to this issue is to keep the elder mentally young, and that is the most attractive point to me.
			.panel.panel-default
				.panel-heading
					h3.panel-title 肖子坤
				.panel-body
					p 为什么这个问题与我有关：
					|Why this topic matters to me :
					p 将来自己的父母或自己变老时将面临许多问题；家中的老人面临许多问题
					|Problems may come out by the time me or my parents become old; the elder in my home has problems in many aspects.
					hr
					p 这个大命题中的那个部分引起了我的好奇：
					|Part of this big topic intrigues me:
					br
					|在养老领域，因为养老院提供的服务与老人对孤独的恐惧，入住养老院成为了许多老人的首选。而公办养老院床位紧张，民办养老院又由于土地，补贴等问题价格高昂，导致老人不愿入住。我十分好奇能否通过政府调控与经济手段使民办养老院与公办养老院享受等价的补贴，从而在政府开支最小的情况下用市场经济达到社会福利效果，让老人们能够在晚年有养老院住。
					br
					|In provision for the aged, to live in a nursing house has become the first choice of many elder people because of the fear to loneliness and the quality service provided by nursing houses. However, the public nursing houses always run out of beds, and private nursing houses have a fancy price because of issues in land, subsidies and so on, which causes that the elder are unwilling to live in private nursing houses. I am very curious about whether we can make the private nursing house get the same subsidies as the public ones by ways of government regulation and economic means. In that way, the social welfare will be achieved under the circumstance of minimum public spending, and at the same time, the elder citizens can move into the nursing house with the respect of their will.

			.panel.panel-default
				.panel-heading
					h3.panel-title 姜奕豪
				.panel-body
					p 为什么这个问题与我有关：
					|Why this topic matters to me :
					p 每个家庭都会有老年人，老年人已然成为了家庭的重要组成部分。因此，老年人的幸福问题关系到了家庭的幸福。而且，现在老龄化程度不断加深，使得老年人的孤独感加重，于是产生了部分老年人的倚老卖老的现象。
					|Every family has older people, and older people have become an important part of the family. Therefore, the happiness of the old is related to the happiness of the family. But now, the degree of aging continues to deepen, making the elderly loneliness increased, so the phenomenon of a part of the elderly take advantage of their seniority emerges.
					hr
					p 这个大命题中的那个部分引起了我的好奇：
					|Part of this big topic intrigues me:
					br
					|老年人对于幸福的自我定义。许多老年人对老年生活的定义和他人所想的并不一致，他们有着自己独特的阐释。如何让老年人更加幸福，首先是要了解到他们的需求。对于了解老年人的内心是最吸引我的地方。
					br
					|The old have their own definition of happiness. Many older people don't agree with what other people think, and they have their own unique interpretations. How to make old people happier, first of all, is to understand their needs. The inner thought of the old is where this big topic intrigues me.
			.panel.panel-default
				.panel-heading
					h3.panel-title Joint Mission
				.panel-body
					p 对于如何帮助老年人获得幸福，我们组员达成了共识，那就是在精神层面上帮助老人。第一，我们可以帮助老年人学习新事物，保持对生活的新鲜感，既丰富了他们的精神，也缓解了他们的寂寞；第二，我们可以教导年轻人如何迎合老人的精神需求，换言之，告诉年轻人，老人希望与年轻人有何种互动。第三，政府可以在设施，资金，专业人士等方面对市民进行帮助和指导。
					|We group members has reached a consensus on how to help the elder citizens to achieve happiness, which is that we would like to help the old on spiritual level. Firstly, we can help the old to learn new things to keep life fresh. It can also enrich their mentality and relief their lonesome. Secondly, we can instruct the young man to cater to the elder’s spirit need. In other word, tell the young what interaction the elder requires with the young. Thirdly, government may give citizens aid and instruction in facilities, fund and profession help.
		footer(style='text-align:center')
			.container 
				p Developed by Jiachun Jin @ Shanghaitech University