doctype
html
	head
		meta(charset="utf-8")
		title index
		link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		script(src="/jquery/dist/jquery.min.js")
		script(src="/bootstrap/dist/js/bootstrap.min.js")
	body
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
			.container-fluid
				.navbar-header
					a.navbar-brand(href='/hw/1' style='margin-right: 27px') Design Thinking Homework of Group 32
				ul.nav.navbar-nav
					li
						a(href='/hw/01') HW1
					li.dropdown
						a.dropdown-toggle(href='#' data-toggle="dropdown") HW2
							b.caret
						ul.dropdown-menu
							li
								a(href='/hw/2/norm') NORM
							li.divider
							li
								a(href='/hw/2/mindmap') MINDMAP
					li.dropdown
						a.dropdown-toggle(href='#' data-toggle="dropdown") HW3
							b.caret
						ul.dropdown-menu
							li
								a(href='/hw/3/assumptionarea') ASSUMPTION AREA
							li.divider
							li
								a(href='/hw/3/plan') FIELD RESEARCH PLAN
							li.divider
							li
								a(href='/hw/3/scriptdeep') SCRIPT FOR INTERVIEW
							li.divider
							li
								a(href='/hw/3/scriptwide') SCRIPT FOR DATA SEARCHING
					li
						a(href='/hw/3/presentation1') PRESENTATION1
					li
						a(href='/hw/3/midPresentation') MIDPRESENTATION
					li.dropdown
						a.dropdown-toggle(href='#' data-toggle="dropdown") HW4
							b.caret
						ul.dropdown-menu
							li
								a(href='/hw/4') HMW QUESTION
							li.divider
							li
								a(href='/hw/4/userPersona') USER PERSONA
							li.divider
							li
								a(href='/hw/4/requirementInsight') REQUIREMENT AND INSIGHT
					li
						a(href='/hw/5') HW5

		h1(style='text-align:center; margin-top: 200px') 没有花里花哨的东西
		h1(style='text-align:center') 只有四颗认真做事的心
		footer(style='text-align:center; margin-top:550px')
			.container 
				p Developed by Jiachun Jin @ Shanghaitech University